#chatbot {
    padding: 18px;
    display: none;
    position: fixed;
    right: 10px;
    bottom: 30px;
    color: #ffffff;
    width: 250px;
    height: 350px;
    background-color: rgb(58, 13, 100);
    text-align: center;
    border-radius: 30px;
    animation: chat-animation 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.678) 1px 2px 5px 2px;
}

@keyframes chat-animation {
    from {
      right: -300px;
    }
    to {
      right: 0;
    }
}

.botsay {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.botsay img {
    width: 40px;
    padding: 10px;
}

li {
    display: flex;
}

.say {
    background-color: white;
    color: rgb(28, 6, 63);
    padding: 14px;
    width: fit-content;
    height: fit-content;
    list-style: none;
    align-items: center;
    font-size: 15px;
    border-radius: 30px;
}

.say-1 {
    display: none;
}

.chat-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;

    
}

.chat-buttons button {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    transition: 100ms ease-in-out;

}

.chat-buttons button:hover {
    background-color: rgba(250, 235, 215, 0.667);
}

a.fecharChat {
    position: absolute;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
}