@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik&display=swap');

* {
    margin: 0px;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: #F5F5F5;
    color: rgb(207, 206, 206);
}

header h1  {
    color: #ffffff;
}

a {
    text-decoration: none;
    
}

.column button{
    font-size: 18px;
    display: flex;
    width:100%;
    text-decoration: none;
    padding: 10px;
    text-align: start;
    cursor: pointer;
    margin-top: 15px;
    transition: 400ms ease-in-out;
    background-color: rgba(6, 6, 22, 0);
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: 0px;
    color: #ffffff;
}

.column button:hover {
    background-color: rgba(255, 255, 255, 0.653);
    border-radius: 5px;
    color: #1D0C3D;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #1D0C3D;
    width: fit-content;
    min-height: 90vh;
}

.container {
    display: flex;
    height: fit-content;
}

header {
    width: 100;
    background-color: #13151B;
    color: white;
    padding: 15px;
    display: flex;
    border: 1px solid rgba(231, 231, 231, 0.092);
    justify-content: center;
    background-color: #1D0C3D;
}

.header-forms {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 30px;
}

.header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-end: 30px;
    text-decoration: none;
    transition: 150ms ease-in-out;
    color: #ffffff;
}


.header-button:hover {
    color: rgb(189, 187, 187);
}


.tabelas {
    display: flex;
    margin: 20px;
    color: #1D0C3D;
}
.tabela {
    margin-inline: 50px;
    margin-left: 20px;
}

.box-info {
    display: flex;
    margin-top: 10px;
    background-color: #1D0C3D;
    color: white;
    padding: 15px;
    border-radius: 10px;
    justify-content:space-between;
}

.box-info button {
    background-color: #0095FF;
    color: white;
    border-radius:10px;
    border: 0;
}
.box-info button:hover {
    background-color: rgb(58, 111, 149);
}

@media (max-width: 800px) {
    .tabelas {
        flex-direction: column;
    }
}

.view-end {
    font-size: 10px;
    padding: 10px;
    height: fit-content;
    margin-top: 15px;
}
