button.cadastrar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    background-color: #1D0C3C;
    color: white ;
    border-radius: 5px;
    border: 0;
    transition: 200ms ease-in-out;
}

button:hover {
    background-color: #1d0c3cc4;
}

.back {
    font-size: 50px;
    color: white;
    position: fixed;
    top: 10px;
    left: 20px;
}

.relatorys{
    color: #1D0C3C;
    font-size: 20px;
    padding: 30px;
}

.relatorys table tr td{
    color: #1D0C3C;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.205);

}