.pag {
    display: flex;
}

.container-register h1, .container-register-vendas h1 {
    color: #1D0C3C;
}

.container-register, .container-register-vendas {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.container-register input {
    padding: 15px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgba(139, 145, 156, 0.17);
    border: 0px;
    color: #1D0C3C;
}

.container-register button, .container-register-vendas button {
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    transition: 100ms ease-in-out; 
    background-color: #1D0C3C;
    color: white;
    transition: 200ms ease-in-out;
}

.container-register button:hover, .container-register-vendas button:hover {
    background-color: #1d0c3cda;
}

.container-register a, .container-register-vendas a {
    width: fit-content;
    margin-top: 40px;
    color: white;
}

/*REGISTRO VENDA*/
.tables {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    height: fit-content;
}

.tables div {
    background-color: rgba(35, 35, 155, 0.081);
    color: #1D0C3C;
    font-size: 20px;
    padding: 20px;
    
}

.tables h2 {
    color: #1D0C3C;
}

.container-register-vendas input.searchBox{
    width: 80%;
}

.container-register-vendas input {
    padding: 15px;
    margin: 10px 0px 10px 0px;
    width: 30%;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgba(139, 145, 156, 0.17);
    border: 0px;
    color: #1D0C3C;
}

.linkCadastro {
    color: #1D0C3C;
}

.linkCadastro:hover {
    color: blue;
}